
/* this is the div with the fun text/images that pops up when
you click on a county in our district*/
div.tooltip {
    position: relative;
    text-align: left;
    width: auto;
    height: auto;
    max-width: 1165px;
    max-height: 1000px;
    padding: 20px;
    margin: auto;
    font: 18px sans-serif;
    color: white;
    background: rgb(0, 41, 94);
    border: 0px;
    border-radius: 8px;
/*     overflow-y: auto; */
    /* pointer-events: none;			 */
}

.rotate {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.rotate2 {
  -webkit-transform:scaleX(-1) rotate(-20deg);
  transform: scaleX(-1) rotate(-20deg);
}

#title {
  color: white;
  font: 40px sans-serif;
  text-align: center;
}

#myBackground{
  background: rgb(0, 41, 94);
  color: rgb(0, 41, 94);
}

.g {
    margin:auto;
}


#buttonWrapper {
  width: 100%;
  height: 20px;
  /* border: 1px solid black; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

button {
  height: 20px;
  width: 100px;
  background-color: #2284e6;
  border:none;
  align: right;
  float: right;
  margin-left:5px;
  color:white;
}


/* this is the container that the map goes in
we use the container because it automatically fits 
to the screen, depending on the screen size.
that's what the @media bits do. */
.container {
  height: 300px;                /* Set default height in CSS */
  max-width: 2000px;            /* Viz can't grow wider than this */
  margin: auto;                 /* Center horizontally */
  background-color: rgb(245, 198, 111);
  /* position:absolute; */
}

@media (min-width: 600px) {     /* If we get a device screen at least this wide... */
  .container { height: 400px; } /* Set a taller height since have more screen real estate */
}

@media (min-width: 900px) {
  .container { height: 600px; }
}

@media (min-width: 1200px) {
    .container { height: 600px; }
}
